* {
    box-sizing: border-box; 
}
body {
    min-width: 100px;
}

.invoice {
    display: block;
    margin: 10px auto;
}

.center {
    text-align: center;
}

code {
    min-width: 100px;
    background-color: #eee;
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    display: inline-block;
  }
  
  @media (max-width: 600px) {
    body {
        font-size: 10px;
    }
}

